select[name=work_description]{
	width:150px !important;
}

select[name=state]{
	width:150px !important;
}

select[name=site_id]{
	width:150px !important;
}
table.employee_table{
	margin-bottom:6px;
}

div.caption {
	background-color:#DEDEDE;
	padding-top:10px;
	padding-bottom:10px;
}

.create_site_id {
	padding-left:0px;
}

label{
	padding-right:inherit;
	padding-left:25px;
	font-weight:bold;	
}
a.create_cancel:hover{
	color:black;
}
.openerp .add_line {
          line-height: 26px;
           }


.openerp  .oe_form_sheetbg {
    border-bottom: 0;
    padding: 10px;
    height: 100%; 
 }

.oe_form_sheetbg .oe_form_sheet {
  position: relative;
  padding: 20px 15px 30px 15px;
  border-top: 0;
  border-bottom: 0;
  height: 100%; 
 }

.toggle_create,.toggle_create_head {
	  cursor:pointer;
  	  -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;      
  }
.toggle_match,.toggle_match_head{
	  cursor:pointer;
  	  -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;      
  } 
  
.openerp .create .oe_form > table:nth-child(2n+1) {
  float: left;
  clear:left;
  }
.openerp .create .oe_form > table:nth-child(2n) {
  float: right;
  clear:right;
  }
.openerp .create .oe_form > table {
        height: 35px; }

.openerp  .create .oe_form > table th {
  font-weight: bold;
  line-height: 26px;
  padding-right: 8px;
  min-width: 188px;
  border-right: 0px solid #ddd;
  white-space: nowrap;
  width: 10%; }
  
.openerp  .create .oe_form > table td {
width: 99%;
padding-left: 8px;
 } 

.openerp  .create .oe_form > table.add_line_container:nth-child(2n+1) {
  width: 98%;
  float: none;
  margin: auto; }
  
  
.openerp .myclass_for_tree_view
	{
	min-width: 5000px;
	}
	
.openerp .myclass_for_project_tracker_tree_view
	{
	min-width: 3600px;
	}
	
